---
title: "List"
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Combusting Note - {{ page.title }}</title>
		<link rel="stylesheet"
			href="/stylesheets/main.css">
		<link rel="stylesheet"
			href="/stylesheets/notes.css">
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
				rel="stylesheet" />
		<script src="/scripts/category.js"></script>
		<script>
			MathJax = {
				chtml: {
					matchFontHeight: false
				},
				tex: {
					inlineMath: [['$', '$']],
					displayMath: [['$$', '$$']]
				}
			};
		</script>
		<script id="MathJax-script"
			async
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
			</script>
	</head>
	<body>
		<h1 id="title" >Combusting Notes</h1>
		<h3>カテゴリ</h3>
		<categories>
			<a id="all"
				href="/windows/notes.html">すべて</a>
			{% for category in site.categories %}
			<a id="{{ category[0] }}"
				href="/windows/notes.html?category={{ category[0] }}">{{ category[0] }}</a>
			{% endfor %}
		</categories>
		<notes id="all">
			{% for post in site.posts %}
			<thumnail>
				<a href="{{ post.url }}">{{ post.title }} ( {{ post.date | date: "%Y/%m/%-d" }} ) </a>
				{{ post.excerpt }}
				<a id="more"
					href="{{ post.url }}">続き</a>
			</thumnail>
			{% endfor %}
		</notes>
		{% for category in site.categories %}
		<notes id="{{ category[0] }}">
			{% for post in category[1] %}
			<thumnail>
				<a href="{{ post.url }}">{{ post.title }} ( {{ post.date | date: "%Y/%m/%-d" }} ) </a>
				{{ post.excerpt }}
				<a id="more"
					href="{{ post.url }}">続き</a>
			</thumnail>
			{% endfor %}
		</notes>
		{% endfor %}
		<page-navigator>
			<a id="page-first"
				class="material-symbols-outlined">
			keyboard_double_arrow_left </a>
			<a id="page-prev" class="material-symbols-outlined">
				chevron_backward
			</a>
			<p id="page-indicator"> 0/1 </p>
			
			<a id="page-next" class="material-symbols-outlined">
				chevron_forward
			</a>
			<a id="page-last"
				class="material-symbols-outlined">
			keyboard_double_arrow_right </a>
			
		</page-navigator>
		<a href="/index.html">top</a>
		<footer>
			&copy; Copyright 2025, Schzna
		</footer>
	</body>
</html>