@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@import url('/stylesheets/math.css');

@font-face{
    font-family: yuriamo;
    src: url('https://dl.dropboxusercontent.com/s/5me44aeb19mxm6e/juliamo.woff');
}

body{
    font-family: 'Zen Maru Gothic', 'Noto Sans', 'Noto Serif';
    background-color: #112244;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    color: white;
}

a,p{
    font-size: 1.5em;
}

a{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ddd;
}

body > h3{
    margin: 0;
    width: 80vw;
}

categories #selected{
    border: solid 2px white;
}

categories *{
    padding: 5px;
    border-radius: 5px;
}

categories *:hover{
    background-color: #eee;
    color: #222;
}

categories{
    margin-bottom: 20px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

notes{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

thumnail{
    width: 100%;
    min-height: 20vh;
    border: 2px white solid;
    border-radius: 5px;
    margin: 10px;
}

thumnail a{
    font-size: x-large;
}

thumnail #more{
    color: #ddddff;
    margin-left: 1em;
    text-decoration: none;
}

note-info{
    width: 80%;
    margin-top: 2em;
}

info-block p{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
}

info-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

category{
    font-size: large;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px #ddd;
    border-radius: 3px;
}

contents{
    padding: 15px;
    width: 80vw;
    border: solid white 2px;
    margin: 10px;
    margin-bottom: 2em;
    border-radius: 5px;
}

contents p,thumnail p{
    margin: 2px;
    text-indent: 1em;
}

contents yuri{
    font-size: x-large;
    margin: 10px;
}

contents code{
    font-family: 'Ubuntu';
    font-size: large;
    background-color: #111122;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;
}

contents *{
    font-size: x-large;
}

contents blockquote{
    font-style: italic;
    font-weight: 100;
    background-color: #004477;
    border-radius: 5px;
}

contents emph{
    color: #00ddff;
    font-weight: 500;
}

yuri{
    font-family: yuriamo;
}

footer{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    z-index: 2;
}

h1{
    font-weight: 300;
    font-size: 5em;
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 5px;
    margin-bottom: 5vh;
}

block{
    cursor: pointer;
    width: 60vw;
    margin: 10px;
    border: solid;
    border-radius: 5px;
    z-index: 6;
    background-color: rgba(0.0, 0.0, 0.0, 0.4);
    transition: 400ms;
}

block:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: #222;
}

block p{
    margin: 10px;
}

h2{
    padding: 5px;
    font-size: 2em;
    margin: 0;
}