body {
    counter-reset: theorem-num 0;
}

math {
    font-family: 'STIX Two Math';
}

Theorem,
Proposition,
Definition,
Exercise {
    margin: 1em;
    padding: 5px;
    border: solid 2px white;
    border-radius: 5px;
    margin-left: 1em;
    display: block;
    font-style: italic;
}

Theorem:before {
    counter-increment: theorem-num 1;
    content: "定理 " counter(theorem-num) ".\A";
    font-weight: bold;
    font-style: normal;
    white-space: pre;
}

Theorem[name]:before {
    counter-increment: theorem-num 1;
    content: "定理 (" attr(name) ") " counter(theorem-num) ".\A";
    font-weight: bold;
    font-style: normal;
    white-space: pre;
}

Proposition:before {
    counter-increment: theorem-num 1;
    content: "命題 " counter(theorem-num) ".\A";
    font-weight: bold;
    font-style: normal;
    white-space: pre;
}

Exercise:before {
    counter-increment: theorem-num 1;
    content: "演習 " counter(theorem-num) ".\A";
    font-weight: bold;
    font-style: normal;
    white-space: pre;
}

Definition[name]:before {
    counter-increment: theorem-num 1;
    content: "定義 (" attr(name) ") " counter(theorem-num) ".\A";
    font-weight: bold;
    font-style: normal;
    white-space: pre;
}

Proof:before {
    content: "\A証明. \A";
    white-space: pre;
    font-family: monospace;
    font-style: normal;
}

Proof:after {
    font-style: normal;
    content: "□";
    white-space: pre;
}