@import url('/stylesheets/main.css');

input {
	margin: 10px;
}

p {
	margin: auto;
}

nodebase {
	width: 70%;
	height: auto;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	padding: 3em;
	margin: 1em;

	background-color: #222;
}

nodebase block{
	padding: 1em;
	margin: 1em;
	border-width: 3px;
	border-radius: 3px;
	border-style: solid;
}